
@font-face {
  font-family: 'sailors-condensed-regular';
  src: url('../sailors_condensed.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Playfair';
  src: url('../playfair.ttf');
  font-display: swap;
}

html {
  --background-color: #fcf9f7;
  --menu-background-color: #CF0000;
  --menu-font-color: white;
  --font-color: black;
  --reverse-font-color: #fcf9f7;
  overflow: auto;
}

::-moz-selection {
  color: var(--background-color);
  background: var(--font-color);
}

::selection {
  color: var(--background-color);
  background: var(--font-color);
}

@media (prefers-color-scheme: dark) {
  html {
    --background-color: #1E1D14;
    --menu-background-color: #CF0000;
    --menu-font-color: white;
    --font-color: white;
    --reverse-font-color: #1E1D14;
  }
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  padding-bottom: 50px;
}

img {
  width: 100%;
  height: auto;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

header {
  /* border-bottom: 1px solid #222;
  margin-bottom: 1rem; */
}

footer {
  /* border-top: 1px solid #222;
  margin-top: 1rem; */
}

h2 {
  font-family: 'Playfair', serif;
  font-size: 1.125em;
}

a {
  /* color: #00e;
  text-decoration: none; */
}

p {
  font-family: 'Playfair', serif;
  color: #262626; 
}

nav {
  z-index: 99999;
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  background-color: var(--menu-background-color);
  opacity: 0.95;
  padding: 8px;
  border-radius: 15px;
}

/* Menu styles */

.menu-button {
  cursor: pointer;
}

.menu-content {
  height: 0;
  width: 0;
  visibility: hidden;
  opacity: 0;
  transition: height 0.5s, opacity 0.5s ease-in-out;
}

.menu-link {
  text-align: right;
  color: var(--menu-font-color);
  text-decoration: none;
  font-family: 'sailors-condensed-regular', sans-serif;
  font-size: 1.75em;
  cursor: pointer;
  user-select: none;
}

/* Header styles */

.header-clock {
font-family: 'Playfair', serif;
  font-size: 0.875em;
  margin: 1rem 0.5rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .header-clock {
    position: relative;
    bottom: -1rem;
  font-family: 'Playfair', serif;
    font-size: 0.875em;
    height: 8px;
    margin: 0;
    font-weight: bold;
  }
}

.header-logo {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.header-hr {
  border: 1.8px solid #262626;
  margin-top: 0.25rem;
  opacity: 1;
}

/* Home styles */

.most-popular {
font-family: 'Playfair', serif;
  font-size: 1em;
}

.article-header {
  font-family: 'Playfair', serif;
  font-weight: 900;
  font-size: 2.2em;
  text-align: center;
  line-height: 1.2;
  color: var(--font-color);
  text-decoration: none;
}

.left-align {
  text-align: left;
  width: fit-content;
}

.second-article-header {
  text-align: left;
  font-size: 1.8em;
}

.third-article-header {
  text-align: left;
  font-size: 1.5em;
}

.article-paragraph {
  font-size: 1em;
  color: var(--font-color);
  line-height: 1.2;
}

.second-article-paragraph {
  font-size: 1em;
}

.third-article-paragraph {
  font-size: 1em;
}

.article-header > a {
  color: var(--font-color);
  text-decoration: none;
}

.article-link {
  color: var(--menu-background-color);
font-family: 'Playfair', serif;
  font-style: italic;
  /* text-decoration: none; */
}

.calendar-header {
font-family: 'Playfair', serif;
  font-size: 2em;
  color: var(--font-color);
  text-decoration: none;
  font-weight: bold;
}

.calendar-header > a {
  color: var(--font-color);
  text-decoration: none;
}

.agenda-row {
  h2 {
    --h: 1.2em;
    padding-left: 10px;
    padding-right: 10px;

  line-height: var(--h);
  color: #0000;
  text-shadow: 
    0 var(--_i, var(--h)) var(--reverse-font-color),
    0 0 rgb(0 0 0 / calc(var(--_i, 1) * 100%) );
  background: 
    linear-gradient(var(--menu-background-color) 0 0) 
    bottom/100% calc(100% - var(--_i, 1) * 100%) no-repeat;
  overflow: hidden;
  transition: 0.3s;
  }
}

@media (prefers-color-scheme: dark) {
    h2 {
      --h: 1.2em;
  
    line-height: var(--h);
    color: #FFFF;
    text-shadow: 
      0 var(--_i, var(--h)) var(--reverse-font-color),
      0 0 rgb(0 0 0 / calc(var(--_i, 1) * 100%) );
    background: 
      linear-gradient(var(--menu-background-color) 0 0) 
      bottom/100% calc(100% - var(--_i, 1) * 100%) no-repeat;
    overflow: hidden;
    transition: 0.3s;
    }
}

.agenda-row:hover {
  --_i: 0;
}

.call-to-action-link {
  font-size: 1.2em;
}

.article-image {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 0.75rem 0;
}

.third-col-content {
  display: none;
  width: 0px;
}

.third-col {
  display: none;
}

.second-article-card {
  display: none;
}

.second-phone-article-card {
  display: initial;
}

@media (min-width: 1200px) {
  .second-article-card {
    display: initial;
  }

  .second-phone-article-card {
    display: none;
  }

  .third-col-content {
    display: initial;
  }

  .third-col {
    display: initial;
  }

  .article-paragraph {
    font-size: 1.2em;
    line-height: 1.2;
  }
}

/* footer */
.icon {
  margin-right: 8px;
}

/* single article */
.single-article {
  /* padding: 0; */
  max-width: 768px;
  /* max-width: 45%; */
}

.single-article-header {
  text-align: center;
}
@media (min-width: 768px) {
  .single-article {
    font-size: 1.3em;
    line-height: 1.25;
  }
}

/* author */
.author-text {
font-family: 'Playfair', serif; 
  font-size: 0.8em;
}

.author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 0px;
  width: 100vw;
}