
@font-face {
  font-family: 'sailors-condensed-regular';
  src: url('../sailors_condensed.ttf');
  font-display: swap;
}

html {
  --background-color: #FFFDF0;
  --menu-background-color: #CF0000;
  --menu-font-color: white;
  --font-color: black;
  overflow: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    --background-color: #1E1D14;
    --menu-background-color: #CF0000;
    --menu-font-color: white;
    --font-color: white;
  }
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  overflow: auto;
}

img {
  width: 100%;
  height: auto;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

header {
  /* border-bottom: 1px solid #222;
  margin-bottom: 1rem; */
}

footer {
  /* border-top: 1px solid #222;
  margin-top: 1rem; */
}

h2 {
  font-family: 'sailors-condensed-regular', sans-serif;
  font-size: 1.125em;
}

a {
  /* color: #00e;
  text-decoration: none; */
}

p {
  font-family: 'Libre Bodoni', serif; 
  font-size: 15px;
}

nav {
  z-index: 99999;
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  background-color: var(--menu-background-color);
  opacity: 0.95;
  padding: 8px;
  border-radius: 15px;
}

/* Menu styles */

.menu-button {
  cursor: pointer;
}

.menu-content {
  height: 0;
  width: 0;
  visibility: hidden;
  opacity: 0;
  transition: height 0.5s, opacity 0.5s ease-in-out;
}

.menu-link {
  text-align: right;
  color: var(--menu-font-color);
  text-decoration: none;
  font-family: 'sailors-condensed-regular', sans-serif;
  font-size: 1.75em;
  cursor: pointer;
  user-select: none;
}

/* Header styles */

.header-clock {
  font-family: 'Libre Bodoni', serif;
  font-size: 0.875em;
  margin: 1rem 0.5rem;
  font-weight: bold;
}

.header-logo {
  width: 100%;
  max-width: 516px;
  height: auto;
}

.header-hr {
  border: 2px solid var(--font-color);
  margin-top: 0.25rem;
  opacity: 1;
}

/* Home styles */

.article-header {
  font-family: 'Libre Bodoni', serif;
  font-weight: bold;
  font-size: 2.1875em;
  text-align: left;
}

.article-header > a {
  color: var(--font-color);
  text-decoration: none;
}

.article-link {
  color: var(--menu-background-color);
  font-family: 'Libre Bodoni', serif;
}

.article-image {
  width: 100%;
  max-width: 516px;
  height: auto;
  margin: 0.75rem 0;
}

