/* Home styles */

.most-popular {
    font-family: 'Playfair', serif;
    font-size: 1em;
}

.left-align {
    text-align: left;
    width: fit-content;
}

.first-header {
  background: var(--font-color);
  padding: 5px;
}

.first-header > a {
  color: var(--background-color);
}

.second-home-col-header {
    text-align: left;
    font-size: 1.8em;
}

.third-home-col-header {
    text-align: left;
    font-size: 2.5em;
}

.phone-article-header {
  text-align: center;
  font-size: 2.2em;
}

.second-home-col-paragraph {
    font-size: 1em;
}

.third-home-col-paragraph {
    font-size: 1em;
}

.third-col-content {
  display: none;
  width: 0px;
}
  
.third-col {
  display: none;
}

.second-home-col-card {
  display: none;
}

.second-phone-article-card {
  display: initial;
}

@media (min-width: 1200px) {
  .second-home-col-card {
    display: initial;
  }

  .second-phone-article-card {
    display: none;
  }

  .third-col-content {
    display: initial;
  }

  .third-col {
    display: initial;
  }
}

.readmore-home {
  background-color: var(--menu-background-color);
  height: 100%;
  width: 100%;
}

.readmore-home-header {
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 900;
  font-size: 3.0em;
  text-align: center;
  line-height: 0.8;
  color: var(--background-color);
  padding-top: 5px;
  padding-bottom: 5px;
}