.menu-button {
    cursor: pointer;
  }
  
.menu-content {
height: 0;
width: 0;
visibility: hidden;
opacity: 0;
transition: height 0.5s, opacity 0.5s ease-in-out;
}

.menu-link {
text-align: right;
color: var(--menu-font-color);
text-decoration: none;
font-family: 'sailors-condensed-regular', sans-serif;
font-size: 1.75em;
cursor: pointer;
user-select: none;
}