{{ $dateMachine := .Page.Date | time.Format "2006-01-02T15:04:05-07:00" }}

<h4 class="author-text">
    <div class="container">
        {{ if .Param "auteurs" }}
            {{ $dateHuman := .Page.Date | time.Format "Monday 2 January 2006" }}
            <div class="row">
                <div class="col" style="max-width: 65px;">
                    {{- with resources.Get "img/default_avatar.png"}}
                        {{ $image := (.Fit "50x50") | images.Filter (images.Colorize 52 6 100) }}
                        <img src="{{$image.RelPermalink}}" class="author-image" alt="Portretfoto">
                    {{- end}}
                </div>
                <div class="col-9">
                    {{ range .Param "auteurs" }}
                        <a class="article-link" href="{{ "/auteurs/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
                    {{ end }}
                    <br/>
                    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                </div>
            </div>
        {{ else }}
            {{ $dateHuman := .Page.Date | time.Format "Monday 2 January 2006 15:04" }}
            <div class="row">
                <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            </div>
        {{ end }}
    </div>
</h4>