{{ $dateMachine := .Page.Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Page.Date | time.Format "Monday 2 January 2006" }}

<h4 class="author-text">
    <div class="container">
        {{ if .Param "author" }}
            <div class="row">
                <div class="col-1">
                    {{- with resources.Get "img/default_avatar.png"}}
                        {{ $image := (.Fit "50x50") | images.Filter (images.Colorize 52 6 100) }}
                        <img src="{{$image.RelPermalink}}" class="author-image" alt="Portretfoto">
                    {{- end}}
                </div>
                <div class="col-11">
                    {{ if .Param "author" }}
                        {{ .Param "author" }} <br/>
                    {{ end }}
                    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                </div>
            </div>
        {{ else }}
            <div class="row">
                <div class="col">
                    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                </div>
            </div>
        {{ end }}
    </div>
</h4>