{{ define "main" }}
  {{ $pages := site.RegularPages.ByDate }}
  <!-- {{ .Content }} -->
  <div class="container">
    <div class="row">
      
      <div class="col-md-3">
        {{ range first 3 (after 1 $pages) }}
          <h2 class="article-header second-article-header"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
          <div class="article-paragraph second-article-paragraph">
            {{ .Render "summary"}}
          </div>
        {{ end }}
      </div>

      <div class="col">
        {{ range first 1 $pages }}
          <h2 class="article-header"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
          <div class="article-paragraph">
            {{ .Render "summary"}}
          </div>
        {{ end }}
      </div>

      <div class="col-12 col-xl-2">
        <div class="third-column">
          <h4 class="most-popular">Meest Populair</h4>
          {{ range $pages }}
            <h2 class="article-header third-article-header"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
            <div class="article-paragraph third-article-paragraph">
              {{ .Render "summary"}}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
