{{ define "main" }}
  {{ $pages := site.RegularPages.ByDate }}
  <!-- {{ .Content }} -->
  <div class="container">
    <div class="row">
      
      <div class="col-md-3 article-card second-home-col-card">
        {{ range first 3 (after 1 $pages) }}
          <h2 class="article-header second-home-col-header"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
          <div class="article-paragraph second-home-col-paragraph">
            {{ .Render "summary"}}
          </div>
        {{ end }}
      </div>

      <div class="col article-card">
        {{ range first 1 $pages }}
          <h2 class="article-header"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
          <div class="article-paragraph">
            {{ .Render "summary"}}
          </div>
        {{ end }}
      </div>

      <div class="col-md-3 article-card second-phone-article-card">
        {{ range first 3 (after 1 $pages) }}
          <h2 class="article-header second-home-col-header"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
          <div class="article-paragraph second-home-col-paragraph">
            {{ .Render "summary"}}
          </div>
        {{ end }}
      </div>

      <div class="col-1 col-xl-2 third-col">
        <div class="third-col-content">
          <h4 class="most-popular">Meest Populair</h4>
          {{ range $pages }}
            <h2 class="article-header third-home-col-header"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
            <div class="article-paragraph third-home-col-paragraph">
              {{ .Render "summary"}}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ end }}
