<article class="home-second">
    <div class="row">
        <div class="">
            <h2 class="article-header home-header"><a href="{{ .RelPermalink }}">{{ .LinkTitle | upper }}</a></h2>
            <div class="article-paragraph m-0">
                {{ .Render "author-home" }}
                <p>
                    {{ .Summary }}
                </p>
                {{ if .Truncated }}
                <a class="article-link readmore" href="{{ .RelPermalink }}">{{ i18n "readmore" }}<span class="article-link-dots">...</span></a>
                {{ end }}
            </div>
        </div>
    </div>
    <footer>
        <hr />
    </footer>
</article>