<article>
    <div class="row">
        <div class="col-12 col-md-6">
            <a href="{{ .RelPermalink }}">
                {{ .Render "image-styled"}}
            </a>
        </div>
        <div class="col-12 col-md-6">
            <h2 class="article-header first-header"><a href="{{ .RelPermalink }}">{{ .LinkTitle | upper }}</a></h2>
            <div class="article-paragraph">
                {{ .Render "author" }}
                <p>
                    {{ .Summary | markdownify }}
                </p>
                {{ if .Truncated }}
                <a class="article-link readmore" href="{{ .RelPermalink }}">{{ i18n "readmore" }}<span class="article-link-dots">...</span></a>
                {{ end }}
            </div>
        </div>
    </div>
    <footer>
        <hr />
    </footer>
</article>