{{ if (.Param "imgsrc") }}
<div class="black-image">
    {{ $imageHD := ((((.Resources.GetMatch (.Param "imgsrc" )).Fit "3200x1492" ) | images.Filter (images.Colorize 24 2 99)).Process "webp q100") }}
    {{ $imageLQ := ((((.Resources.GetMatch (.Param "imgsrc" )).Fit "3200x1492" ) | images.Filter (images.Colorize 24 2 99)).Process "webp q1") }}
    <img src='{{ $imageLQ.RelPermalink }}' width="800" height="373" title='{{ .Param "imgalt" }}' alt='{{ .Param "imgalt" }}' class='image-lowres {{ .Param "imgclass" | default "" }}' />
    <img src='{{ $imageHD.RelPermalink }}' width="800" height="373" title='{{ .Param "imgalt" }}' alt='{{ .Param "imgalt" }}' class='image-hires {{ .Param "imgclass" | default "" }}' onload="this.classList.add('is-loaded')" />
</div>
{{ end }}
  
