{{ define "main" }}
    {{ range .Pages.ByDate.Reverse }}
        {{ $ticketDateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $ticketDateHuman := .Date | time.Format "2 Jan 2006 15:04" }}
        <div class="container">
            <div class="row">
                <a class="col-sm-10 col" href="{{ .RelPermalink }}" style="text-decoration: none;">
                    <div class="row">
                        <div class="col-sm-4 col-11 align-self-center">
                            <time class="calendar-header" datetime="{{ $ticketDateMachine }}">{{ $ticketDateHuman }}</time>
                        </div>
                        <div class="col">
                            <div class="agenda-row">
                                <h2 class="article-header left-align">{{ .LinkTitle }}</h2>
                            </div>
                            <p class="article-paragraph">{{ .Description | markdownify }}</p>
                        </div>
                    </div>
                </a>
                <div class="col-sm-2 col-11 align-self-center">
                </div>
            </div>
            <div class="container">
                <hr/>
            </div>
        </div>
    {{ end }}
{{ end }}
