{{ define "main" }}
{{ range .Pages.ByExpiryDate }}
{{ $ticketDateMachine := .ExpiryDate | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $ticketDateHuman := .ExpiryDate | time.Format "Mon 2 Jan 15:04" }}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="{{ .RelPermalink }}" style="text-decoration: none;">
                <div class="agenda-row">
                    <h2 class="article-header">{{ .LinkTitle }}</h2>
                </div>
            </a>
            <div class="row">
                {{ .Render "image-styled" }}
            </div>
            <div class="article-paragraph article-link-big" style="align-items: center; height: 100%; font-style: italic;">
                {{ .Summary }}
                <br/><br/>
                {{ if .Truncated }}
                <a class="article-link readmore" href="{{ .RelPermalink }}">{{ i18n "readmore" }}<span class="article-link-dots">...</span></a>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="container">
        <hr/>
    </div>
</div>
{{ end }}
{{ end }}
