{{ $dateMachine := .Page.Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Page.Date | time.Format "Monday 2 January 2006 15:04" }}

<h4 class="author-text">
    <div class="container">
        {{ if .Param "auteurs" }}
            <div class="row">
                <div class="col-9 p-0">
                    {{ if not (eq (.Param "layout") "agenda")}}
                        <p>
                            door&nbsp;
                            {{ range .Param "auteurs" }}
                            <a class="article-link" href="{{ "/auteurs/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
                            {{ end }}
                        </p>
                        <br/>
                        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                    {{ else }}
                        <p style="display: flex; align-items: center; justify-content: flex-start; height: 100%;">
                            door&nbsp;
                        {{ range .Param "auteurs" }}
                                <a class="article-link" href="{{ "/auteurs/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
                        {{ end }}
                        </p>
                    {{ end }}
                </div>
            </div>
        {{ else }}
        {{ end }}
    </div>
</h4>