{{ $dateMachine := .Page.Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Page.Date | time.Format "Monday 2 January 2006 15:04" }}

<h4 class="author-text">
    <div class="container">
        {{ if .Param "auteurs" }}
            <div class="row">
                <div class="col p-0" style="max-width: 65px;">
                    {{ range .Param "auteurs" }}
                        {{$author := (. | urlize) }}
                        {{ with $.Site.GetPage  "page" $author }}
                            {{ with .Resources.GetMatch "*" }}
                                {{ $width := print "" (div .Width 2.5) }}
                                {{ $height := print "" (div .Height 1.75) }}
                                {{ $dimension := print $width "x" $height " Center" }}
                                {{ $image := (((.Crop $dimension).Fit "500x500") | images.Filter (images.Colorize 52 6 100)).Process "webp q95" }}
                                <a href="{{ "/auteurs/" | relLangURL }}{{ $author }}">
                                    <img src="{{ $image.RelPermalink }}" class="author-image" alt="Portretfoto">
                                </a>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                </div>
                <div class="col-9 p-0">
                    {{ if not (eq (.Param "layout") "agenda")}}
                        {{ range .Param "auteurs" }}
                            <a class="article-link" href="{{ "/auteurs/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
                        {{ end }}
                        <br/>
                        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                    {{ else }}
                        {{ range .Param "auteurs" }}
                            <div style="display: flex; align-items: center; justify-content: flex-start; height: 100%;">
                                <a class="article-link article-link-big" href="{{ "/auteurs/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        {{ else }}
        {{ end }}
    </div>
</h4>