{{ define "main" }}
<div class="container">
    <div class="row justify-content-center">
        <h1 class="article-header single-article-header"><strong>Oeps!</strong> We kunnen deze pagina niet meer vinden</h1>
        <div class="article-paragraph single-article">
            <p>We hebben ons best gedaan, maar het lijkt erop dat deze pagina niet bestaat.
                Je kunt terug naar de thuispagina of gebruik maken van het menu.
            </p>
        </div>
    </div>
</div>
{{ end }}